  html, div, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video 
{
    margin:  0px;
    border:  0px!important;
    font-size: 100%;
    font: inherit;
  }

       @media (min-width:768px){
        .navbar > .container .navbar-brand,
        .navbar > .container-fluid .navbar-brand {
            margin-left: 155px;
        }
        }

/* navbar area */
.bg-image{
background-image: url(images/portfolio/cover.png);
width: 100%;
height: 600px;
background-position: center;
background-size: cover;
background-attachment: fixed;
position: relative;
}

.opacity{
    width: 100%;
    height: 600px;
    background-color: rgb(3, 0, 0);
    opacity: .6 !important;
    position: absolute;
}

nav ul a:hover{
    background-color: red !important;
    color: white !important;
    border: 2px solid black !important;
    padding: 5px !important;
}


/* hero area */
.button{
    padding: 8px 30px!important;
    background-color: rgb(3, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 30px;
}

.button:hover{
    background-color: rgb(2, 0, 0);
    color: rgb(235, 217, 217);
    border: 3px solid rgb(236, 8, 8);
}

/* secvices start*/
.card-body:hover{
    background-color: brown!important;
    color:black !important;

}

.bg-service{
    background-color: rgb(255, 249, 242);
}

/* services end */
/* service start */
.servicebg-image{
    width: 100%;
    height: 250px;
    position:relative;
    background-image: url(images/call-to-action-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.serviceopacity{
    width: 100%;
    height: 250px;
    background-color: black;
    opacity: 0.9;
    position:absolute;
}


/* team */



/* ====== media query  ======== */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    
    /* topbar */
.info{
    margin-top: 5px !important;
    font-size:9px !important;
}
.infocontact{
    margin-top: 5px !important;
    font-size:9px !important;
}
.infocontact1{
    margin-top: 5px !important;
    font-size:10px !important;
}
.infocontact2{
    margin-top: 5px !important;
    font-size:12px !important;
}


/* navbar area */
.bg-image{
    background-image: url(images/portfolio/cover.png);
    width: 100%;
    height: 1600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }
    
    .opacity{
        width: 100%;
        height: 1600px;
        background-color: rgb(3, 0, 0);
        opacity: 0.9 !important;
        position: absolute;
    }
    
    
/* service start */
.servicebg-image{
    width: 100%;
    height: 300px;
    position:relative;
    background-image: url(images/call-to-action-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.serviceopacity{
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: 0.9;
    position:absolute;
}
    
/* portfolio */
    .category{
        font-size: 12px !important;
    }
    .button{
        padding: 8px 20px!important;
        background-color: rgb(3, 0, 0);
        color: white;
        border: 2px solid white;
        border-radius: 30px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
        
/* navbar area */
.bg-image{
    background-image: url(images/portfolio/cover.png);
    width: 100%;
    height: 1650px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }
    
    .opacity{
        width: 100%;
        height: 1650px;
        background-color: rgb(3, 0, 0);
        opacity: 0.9 !important;
        position: absolute;
    }
    
    
/* service start */
.servicebg-image{
    width: 100%;
    height: 300px;
    position:relative;
    background-image: url(images/call-to-action-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.serviceopacity{
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: 0.9;
    position:absolute;
}
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
        
/* navbar area */
.bg-image{
    background-image: url(images/portfolio/cover.png);
    width: 100%;
    height: 1750px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }
    
    .opacity{
        width: 100%;
        height: 1750px;
        background-color: rgb(3, 0, 0);
        opacity: 0.9 !important;
        position: absolute;
    }
    
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) 
 {.bg-image{

    background-image: url(images/portfolio/cover.png);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }
    
    .opacity{
        width: 100%;
        height: 600px;
        background-color: rgb(3, 0, 0);
        opacity: 0.9 !important;
        position: absolute;
    }
    
/* service start */
.servicebg-image{
    width: 100%;
    height: 250px;
    position:relative;
    background-image: url(images/call-to-action-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.serviceopacity{
    width: 100%;
    height: 250px;
    background-color: black;
    opacity: 0.9;
    position:absolute;
}
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

    
/* navbar area */
.bg-image{
background-image: url(images/portfolio/cover.png);
width: 100%;
height: 600px;
background-position: center;
background-size: cover;
background-attachment: fixed;
position: relative;
}

.opacity{
    width: 100%;
    height: 600px;
    background-color: black;
    opacity: 0.9 !important;
    position: absolute;
}

    /* service start */
    .servicebg-image{
        width: 100%;
        height: 250px;
        position:relative;
        background-image: url(images/call-to-action-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    .serviceopacity{
        width: 100%;
        height: 250px;
        background-color: black;
        opacity: 1;
        position:absolute;
    }
} 




/* CONTACT PAGE SECTION */
.get-card{
    background: white!important;
    box-shadow: 5px 5px 50px #606060;
}

input[type=text]:focus {
    border: 3px solid rgb(255, 0, 0);
  }



/* <!-- --------------footer-start--------------- --> */
footer {
    background-color: #252628;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-content p {
    color: #bbbbbb;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 32px 0px;
}

.footer-img img {
    width: 70%;
}

footer h4 {
    color: white;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-icon .fa-angle-right {
    color: #bbbbbb;
    font-size: 15px;
    margin-right: 12px;
    line-height: 35px;
}

.footer-icon a {
    color: #bbbbbb;
    font-size: 15px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-icon:hover a {
    color: white;
}

.footer-icon:hover .fa-angle-right {
    color: white;
}

.footer-icon-top .fab {
    color: white;
    border-radius: 5px;
}

.footer-icon-top .fa-twitter {
    background-color: #0e97d1;
    padding: 10px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-twitter:hover {
    background-color: #108BC0;
}

.footer-icon-top .fa-facebook-f {
    background-color: #1b4195;
    padding: 10px 13px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-facebook-f:hover {
    background-color: #1C3E8A;
}

.footer-icon-top .fa-linkedin-in {
    background-color: #0f72aa;
    padding: 10px 12px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-linkedin-in:hover {
    background-color: #116A9D;
}

.footer-icon-top .fa-instagram {
    background-color: #b41a32;
    padding: 10px 12px;
    transition: all .3s ease-out;
}

.footer-icon-top .fa-instagram:hover {
    background-color: #A51B31;
}

/* ---------footer-info---------- */
.footer-info a {
    color: white;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    ;
    font-weight: 700;
}

.footer-info h6 {
    color: white;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    ;
    font-weight: 700;
}

.footer-info p {
    color: white;
    opacity: 0.6;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer-info-icon {
    color: white;
    background: rgba(255, 255, 255, 0.132);
    padding: 15px;
    border-radius: 50px;
}

.footer-info {
    background-color: black;
    margin-top: 5%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-info-one {
    padding-top: 30px;
}

.footer-info-two {
    padding-top: 30px;
}

.footer-info-three {
    padding-top: 30px;
}

.term {
    color: #aaaaaa;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 2.5%;
}
